*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 10vw;
    background: linear-gradient(to right,rgba(14, 60, 112, 0.897),rgb(46, 37, 100));
}
div{
    background-color: rgba(125, 140, 189, 0.253);
    color: white;
    text-align: center;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 6vw;
}
h1{
    font-size: 2vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}